{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{> header background=@site.cover_image}} {{!--Special header.hbs partial to generate the <header> tag--}}
    <div class="inner">
        <div class="site-header-content">
            <h1 class="site-title">
                {{#if @site.logo}}
                    <img class="site-logo" src="{{img_url @site.logo size="l"}}" alt="{{@site.title}}" />
                {{else}}
                    {{@site.title}}
                {{/if}}
            </h1>
            <h2 class="site-description">{{@site.description}}</h2>
        </div>
        {{> "site-nav"}}
    </div>
</header> -->
<!-- <header class="site-header outer">
    <div class="inner">
        {{> "site-nav"}}
    </div>
</header> -->
{{!-- The main content area --}}
<main id="site-main" class="site-main outer">
    <div class="inner fullscreen">
        <h1 class="site-title">
            {{#if @blog.logo}}
                <img class="site-logo" src="{{@blog.logo}}" alt="{{@blog.title}}" />
            {{else}}
                {{@blog.title}}
            {{/if}}
        </h1>
        <!-- <h2 class="site-description">{{@blog.description}}</h2> -->
        <h2 class="site-description">PhD Student</h2>
        <h2 class="site-description">Aerospace Computational Design Lab</h2>
        <h2 class="site-description">Massachusetts Institute of Technology (MIT)</h2>
        {{> "site-nav"}}
        <div class="social-links">
            <!-- <a title="email" class="fa fa-envelope" href="mailto:mkapteyn@mit.edu" target="_blank" rel="noopener" style="color:#3c484e;"></a> -->
            <!-- <a title="LinkedIn" class="fa fa-linkedin-square" href="https://www.linkedin.com/in/michael-kapteyn" target="_blank" rel="noopener" style="color:#3c484e;"></a> -->
            <!-- <a title="Scholar" class="fa fa-graduation-cap" href="https://www.linkedin.com/in/michael-kapteyn" target="_blank" rel="noopener" style="color:#3c484e;"></a> -->

        </div>
    </div>
</main>
